*

!/.gitignore
!/README.md
!/FUZZILLI_REVISION

!/patches/
!/patches/*.patch

!/scripts/
!/scripts/*.sh

!/driver/
!/driver/Cargo.toml
!/driver/Cargo.lock
!/driver/src/
!/driver/src/*.rs
!/driver/tests/
!/driver/tests/*.rs

!/velum-reprl/
!/velum-reprl/build.rs
!/velum-reprl/Cargo.toml
!/velum-reprl/Cargo.lock
!/velum-reprl/src/
!/velum-reprl/src/*.c
!/velum-reprl/src/*.rs
!/velum-reprl/tests/
!/velum-reprl/tests/*.rs
