*

!/.gitignore
!/README.md
!/package.json
!/package-lock.json
!/run.sh

!/config/
!/config/*.json

!/scripts/
!/scripts/*.sh

!/driver/
!/driver/Cargo.toml
!/driver/Cargo.lock
!/driver/build.rs
!/driver/src/
!/driver/src/*.c
!/driver/src/*.rs
!/driver/src/bin/
!/driver/src/bin/*.rs
!/driver/tests/
!/driver/tests/*.rs
